@use "./style/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(180deg, #a4cde3 0%, #1a1f22 100%);
	height: 100vh;
	color: variables.$color-black;
}

h1 {
	font-family: "Indie Flower", cursive;
	text-align: center;
	text-decoration: underline;
	font-size: 64px;
	font-weight: 400;
	padding: 43px 0;
}

p,
button {
	font-family: "Inter", sans-serif;
	color: variables.$color-black;
	font-size: 20px;
	font-weight: 300;
	text-decoration-line: underline;
}
